<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{base-layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="font-size: 17px; color: black">
    <strong>STOP CORONA NOTIFICATION</strong> <br>
    Salut <strong th:text="${fullName}"></strong> <br>
    Des nouveaux patients sont connectés
    <p>&copy; 2020 STOP CORONA</p>
</div>
</body>
</html>